:root {
	--white-color: #fff;
	--black-color: #31291d;
	--grey-color: #bec5d7;
	--yellow-color: #f5972c;
	--orange-color: #f3542a;
	--purple-color: #7049f0;
	--blue-color: #0aa4f6;
	--green-color: #c6d947;
}
$white: var(--white-color);
$black: var(--black-color);
$grey: var(--grey-color);
$yellow: var(--yellow-color);
$orange: var(--orange-color);
$purple: var(--purple-color);
$blue: var(--blue-color);
$green: var(--green-color);

$font: "Rubik", sans-serif;
