.header {
	grid-area: header;
	background-color: lightblue;
	padding-left: 1.5rem;
}
.sidebar {
	grid-area: side;
	background-color: lightcoral;
}
.content {
	grid-area: content;
	background-color: lightcyan;
	padding-left: 1.5rem;
}
.footer {
	grid-area: footer;
	background-color: lightgreen;
}
