.todo_list {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding: 1rem 0;
}
.todo {
	position: relative;
	@extend %flex-col;
	justify-content: space-between;
	height: 300px;
	width: 300px;
	border-radius: 20px;
	padding: 0.5rem;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
	margin-right: 0.5em;
	overflow: hidden;
	textarea {
		width: 100%;
		height: 100%;
		resize: none;
		border: none;
		font-size: 0.5em;
		font-family: $font;
		line-height: 150%;
		font-weight: 400;
		background-color: transparent;
		outline: none;
		color: $black;
		&::placeholder {
			color: #5f5a51;
			font-family: $font;
			line-height: 150%;
			font-weight: 400;
		}
	}
	footer {
		@extend %flex-align;
		justify-content: space-between;
		font-size: 0.5em;
		font-weight: 500;
		.date_todo {
			z-index: 1;
		}
		.btn_edit {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: $black;
			color: $white;
			font-size: 1em;
			box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
			z-index: 1;
		}
		.show_todo {
			cursor: pointer;
			color: $black;
			transition: transform 0.3s ease;
			&:hover {
				transform: scale(1.2) rotate(-35deg);
			}
		}
	}
	.todo_label {
		pointer-events: none;
		position: absolute;
		right: -190px;
		bottom: -155px;
		text-transform: uppercase;
		line-height: 100%;
		transform: rotate(-25deg);
		font-size: 0.8em;
		width: 100%;
		text-align: center;
	}
}

.start_animation {
	padding: 0;
	margin-right: 0;
	width: 0px;
	opacity: 0;
	animation: start 0.6s cubic-bezier(0.5, 0.19, 0.1, 1.5) 0.43s forwards;
}
#pointerSvg {
	pointer-events: none;
}

@keyframes start {
	0% {
		width: 0px;
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		width: 300px;
		margin-right: 0.5em;
		padding: 0.5em;
		opacity: 1;
	}
}

//one todo
.container_todo {
	width: 100%;
	height: 100%;
	padding: 1em 0.5em 2em 0;
	@include media-max("425px") {
		padding: 0.5em 0.5em 1.5em 0;
	}
	.one_todo {
		width: 100%;
		height: 100%;
	}
}
